# don't delete this line.
% start TOP

TOP -> S

### TODO: Add your rules here
# start: basic rough structure of sentences
S -> CC S | S FS | S CC S | NP_ VP_S | NP_S VP_ | NP VP_S AP

# all noun phrases
NP -> NP_ | NP_S

# singular noun phrases
NP_ -> NN | NNP | NNP NNP | NNP NNP COMMA NNP | NNP NN | EX | PRP | DT NP_ | PRPX NP_ | JJ NP_ | RB JJ NP_ | NP_ PP | NP POS NP_ | CD NP_ | CD IN CD NP_

# plural noun phrases
NP_S -> DT | NNS | NNPS | NNP NNPS | NN NNS | PRP | NP CC NP | DT NP_S| PRPX NP_S | JJ NP_S | RB JJ NP_S | NP_S PP | NP POS NP_S | CD NP_S | CD IN CD NP_S

# prepositional phases
PP -> IN NP | IN NP RB | IN NP NN

# all verb phrases
VP -> VP_ | VP_S

# plural verb phrases
VP_ -> VB | VBD | VBP | VBD RB VB | VB TO | VBD TO | VBP TO | VB TO VB | VBD TO VB | VBP TO VB | VP_ VBN | VP_ VBN VBN | VP_ RB | VP_ PP | VP_ NP | VP_ CLAUSE | VP_ JJ | MD VP_ | VP_ CC VP_

# singular verb phrases
VP_S -> VBD | VBZ | VBZ VBG | VBD RB VB | VBD TO | VBZ TO | VBD TO VB | VBZ TO VB | VP_S VBN | VP_S VBN VBN | VP_S RB | VP_S PP | VP_S NP | VP_S CLAUSE | VP_S JJ | MD VP_ | VP_S CC VP_S

# adjective phrases
AP -> JJ | RB JJ | AP CC AP

# clause
CLAUSE -> NP_ VP_S | NP_S VP_

# lexicon
COMMA ->  ","
FS ->  "."
CC ->  "And" |  "But" |  "and" | "but"
CD ->  "1929" |  "66.5" |  "69"
DT ->  "All" |  "No" |  "The" |  "a" |  "no" |  "the"
EX ->  "There"
IN ->  "after" |  "by" |  "for" |  "from" |  "in" |  "into" |  "of" |  "on" |  "that" | "despite"
JJ ->  "crude" |  "different" |  "funny" |  "high-priced" |  "imaginative" |  "immediate" |  "many" |  "moderate" |  "nervous" |  "new" |  "worst-case" | "political" | "overwhelming"
MD ->  "can"
NN ->  "Champagne" |  "Factory" |  "PC" |  "Stock" |  "asbestos" |  "bearing" |  "breakdown" |  "business" |  "crash" |  "dessert" |  "face" |  "field" |  "force" |  "lion" |  "nose" |  "oblivion" |  "pioneer" |  "predecessor" |  "pressure" |  "price" |  "production" |  "rest" |  "scenario" |  "share" |  "today" |  "work" |   "trading" | "president"
NNP ->  "Baltimore" |  "Barnum" |  "Courter" |  "Cray" |  "Dugdale" |  "Esso" |  "France" |  "Hong" |  "Kong" |  "Korea" |  "Learning" |  "Mr." |  "Research" |  "September" |  "South" |  "Tuesday" |  "VanSant" |  "Viacom" |  "Whiting"
NNPS ->  "Materials"
NNS ->  "Pressures" |  "Terms" |  "banks" |  "bottles" |  "computers" |  "concerns" |  "contributors" |  "investors" |  "payrolls" |  "prices" |  "products" |  "shares" |  "ships" |  "standards" |  "subskills" |  "tactics"
POS ->  "'s"
PRP ->  "It" |  "They" |  "it"
PRPX ->  "Her" |  "our"
RB ->  "fractionally" |  "n't" |  "now" |  "often"
TO ->  "to"
VB ->  "boast" |  "build" | "agree"
VBD ->  "began" |  "called" |  "came" |  "fell" |  "followed" |  "had" |  "matched" |  "rose" |  "said" |  "started" |  "suffered" |  "went" |  "were" | "understood" | "did"
VBG ->   "using"
VBN ->  "been" |  "disclosed" |  "handled" |  "set"
VBP ->  "operate"
VBZ ->  "'s" |  "denies" |  "grows" |  "has" |  "is"